In [1]:
from bs4 import BeautifulSoup
import requests

In [10]:
url = 'https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?area=XWW&by_mpaa=G' 

response = requests.get(url)

In [11]:
response.status_code

200

In [12]:
response.text[:1000]

'<!doctype html><html class="a-no-js" data-19ax5a9jf="dingo"><head><script>var aPageStart = (new Date()).getTime();</script><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0" />\n                <meta charset="utf-8" />\n            <title dir="ltr">Top Lifetime Grosses by MPAA Rating - Box Office Mojo</title><meta content="Top Lifetime Grosses by MPAA Rating" name="title" />\n            <meta content="Box Office Mojo" property="og:site_name" />\n            <meta content="https://m.media-amazon.com/images/G/01/boxofficemojo/logo/mojo-logo-bg.png" property="og:image"/>\n            <meta name="format-detection" content="telephone=no" />\n            <link href="https://m.media-amazon.com/images/G/01/boxofficemojo/v2/favicon._CB448965889_.ico" type="image/x-icon" rel="icon" />\n            <link rel="canonical" href="https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?area=XWW&by_mpaa=G" />\n            <link rel="stylesheet" href="https://im'

In [13]:
page = response.text

In [14]:
soup = BeautifulSoup(page, "lxml")

In [15]:
print(soup.prettify())

<!DOCTYPE html>
<html class="a-no-js" data-19ax5a9jf="dingo">
 <head>
  <script>
   var aPageStart = (new Date()).getTime();
  </script>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta charset="utf-8"/>
  <title dir="ltr">
   Top Lifetime Grosses by MPAA Rating - Box Office Mojo
  </title>
  <meta content="Top Lifetime Grosses by MPAA Rating" name="title"/>
  <meta content="Box Office Mojo" property="og:site_name"/>
  <meta content="https://m.media-amazon.com/images/G/01/boxofficemojo/logo/mojo-logo-bg.png" property="og:image"/>
  <meta content="telephone=no" name="format-detection"/>
  <link href="https://m.media-amazon.com/images/G/01/boxofficemojo/v2/favicon._CB448965889_.ico" rel="icon" type="image/x-icon"/>
  <link href="https://www.boxofficemojo.com/chart/mpaa_title_lifetime_gross/?area=XWW&amp;by_mpaa=G" rel="canonical"/>
  <link href="https://images-na.ssl-images-amazon.com/images/I/11EIQ5IGqaL._RC|01ZTHTZObnL.css,41DAFIecsVL.css,51IB+wfP8qL.css,01ZfXnjPmmL.css,01oDR3IULNL.css,01Vctty9pOL.css,31ZcpBfSgNL.css,01XPHJk60-L.css,21qPwhPKAAL.css,01R0k0yxPXL.css,21xVR0NtxzL.css,11gneA3MtJL.css,21fecG8pUzL.css,01RddH8vm-L.css,01CFUgsA-YL.css,21AmhU6t0sL.css,11zGrJZ9D2L.css,11tRp6+0HHL.css,11061HxnEvL.css,11oHt2HYxnL.css,01-fWz3sOQL.css,11ocrgKoE-L.css,11RKoGSb-gL.css,11g1xm90ZvL.css,01QrWuRrZ-L.css,21pIv-yKhaL.css,01Wiow6micL.css,01gAR5pB+IL.css,119dKrtBoVL.css,11Y05DTEL6L.css,01cbS3UK11L.css,21F85am0yFL.css,01giMEP+djL.css_.css?AUIClients/AmazonUI#us.not-trident" rel="stylesheet"/>
  <link href="https://images-na.ssl-images-amazon.com/images/I/5171S-pGK2L.css?AUIClients/IMDbMojoSiteAssets" rel="stylesheet"/>
  <script>
   (function(f,h,Q,E){function F(a){u&&u.tag&&u.tag(q(":","aui",a))}function v(a,b){u&&u.count&&u.count("aui:"+a,0===b?0:b||(u.count("aui:"+a)||0)+1)}function m(a){try{return a.test(navigator.userAgent)}catch(b){return!1}}function x(a,b,c){a.addEventListener?a.addEventListener(b,c,!1):a.attachEvent&&a.attachEvent("on"+b,c)}function q(a,b,c,e){b=b&&c?b+a+c:b||c;return e?q(a,b,e):b}function G(a,b,c){try{Object.defineProperty(a,b,{value:c,writable:!1})}catch(e){a[b]=c}return c}function ta(a,b){var c=a.length,
e=c,g=function(){e--||(R.push(b),S||(setTimeout(ca,0),S=!0))};for(g();c--;)da[a[c]]?g():(z[a[c]]=z[a[c]]||[]).push(g)}function ua(a,b,c,e,g){var d=h.createElement(a?"script":"link");x(d,"error",e);g&&x(d,"load",g);a?(d.type="text/javascript",d.async=!0,c&&/AUIClients|images[/]I/.test(b)&&d.setAttribute("crossorigin","anonymous"),d.src=b):(d.rel="stylesheet",d.href=b);h.getElementsByTagName("head")[0].appendChild(d)}function ea(a,b){return function(c,e){function g(){ua(b,c,d,function(b){T?v("resource_unload"):
d?(d=!1,v("resource_retry"),g()):(v("resource_error"),a.log("Asset failed to load: "+c));b&&b.stopPropagation?b.stopPropagation():f.event&&(f.event.cancelBubble=!0)},e)}if(fa[c])return!1;fa[c]=!0;v("resource_count");var d=!0;return!g()}}function va(a,b,c){for(var e={name:a,guard:function(c){return b.guardFatal(a,c)},guardTime:function(a){return b.guardTime(a)},logError:function(c,d,e){b.logError(c,d,e,a)}},g=[],d=0;d<c.length;d++)H.hasOwnProperty(c[d])&&(g[d]=U.hasOwnProperty(c[d])?U[c[d]](H[c[d]],
e):H[c[d]]);return g}function A(a,b,c,e,g){return function(d,h){function n(){var a=null;e?a=h:"function"===typeof h&&(p.start=w(),a=h.apply(f,va(d,k,l)),p.end=w());if(b){H[d]=a;a=d;for(da[a]=!0;(z[a]||[]).length;)z[a].shift()();delete z[a]}p.done=!0}var k=g||this;"function"===typeof d&&(h=d,d=E);b&&(d=d?d.replace(ha,""):"__NONAME__",V.hasOwnProperty(d)&&k.error(q(", reregistered by ",q(" by ",d+" already registered",V[d]),k.attribution),d),V[d]=k.attribution);for(var l=[],m=0;m<a.length;m++)l[m]=
a[m].replace(ha,"");var p=B[d||"anon"+ ++wa]={depend:l,registered:w(),namespace:k.namespace};c?n():ta(l,k.guardFatal(d,n));return{decorate:function(a){U[d]=k.guardFatal(d,a)}}}}function ia(a){return function(){var b=Array.prototype.slice.call(arguments);return{execute:A(b,!1,a,!1,this),register:A(b,!0,a,!1,this)}}}function W(a,b){return function(c,e){e||(e=c,c=E);var g=this.attribution;return function(){t.push(b||{attribution:g,name:c,logLevel:a});var d=e.apply(this,arguments);t.pop();return d}}}
function I(a,b){this.load={js:ea(this,!0),css:ea(this)};G(this,"namespace",b);G(this,"attribution",a)}function ja(){h.body?r.trigger("a-bodyBegin"):setTimeout(ja,20)}function C(a,b){a.className=X(a,b)+" "+b}function X(a,b){return(" "+a.className+" ").split(" "+b+" ").join(" ").replace(/^ | $/g,"")}function ka(a){try{return a()}catch(b){return!1}}function J(){if(K){var a={w:f.innerWidth||n.clientWidth,h:f.innerHeight||n.clientHeight};5<Math.abs(a.w-Y.w)||50<a.h-Y.h?(Y=a,L=4,(a=k.mobile||k.tablet?450<
a.w&&a.w>a.h:1250<=a.w)?C(n,"a-ws"):n.className=X(n,"a-ws")):0<L&&(L--,la=setTimeout(J,16))}}function xa(a){(K=a===E?!K:!!a)&&J()}function ya(){return K}function ma(){D.forEach(function(a){F(a)})}function na(a,b,c){if(b){a=m(/Chrome/i)&&!m(/Edge/i)&&!m(/OPR/i)&&!a.capabilities.isAmazonApp&&!m(new RegExp(Z+"bwv"+Z+"b"));var e="sw:browser:"+c+":";b.browser&&a&&(D.push(e+"supported"),b.browser.action(e,c));!a&&b.browser&&D.push(e+"unsupported")}}"use strict";var M=Q.now=Q.now||function(){return+new Q},
w=function(a){return a&&a.now?a.now.bind(a):M}(f.performance),N=w(),p=f.AmazonUIPageJS||f.P;if(p&&p.when&&p.register){N=[];for(var l=h.currentScript;l;l=l.parentElement)l.id&&N.push(l.id);return p.log("A copy of P has already been loaded on this page.","FATAL",N.join(" "))}var u=f.ue;F();F("aui_build_date:3.21.6-2021-08-28");var R=[],S=!1;var ca=function(){for(var a=setTimeout(ca,0),b=M();R.length;)if(R.shift()(),50<M()-b)return;clearTimeout(a);S=!1};var da={},z={},fa={},T=!1;x(f,"beforeunload",function(){T=
!0;setTimeout(function(){T=!1},1E4)});var ha=/^prv:/,V={},H={},U={},B={},wa=0,Z=String.fromCharCode(92),t=[],oa=f.onerror;f.onerror=function(a,b,c,e,g){g&&"object"===typeof g||(g=Error(a,b,c),g.columnNumber=e,g.stack=b||c||e?q(Z,g.message,"at "+q(":",b,c,e)):E);var d=t.pop()||{};g.attribution=q(":",g.attribution||d.attribution,d.name);g.logLevel=d.logLevel;g.attribution&&console&&console.log&&console.log([g.logLevel||"ERROR",a,"thrown by",g.attribution].join(" "));t=[];oa&&(d=[].slice.call(arguments),
d[4]=g,oa.apply(f,d))};I.prototype={logError:function(a,b,c,e){b={message:b,logLevel:c||"ERROR",attribution:q(":",this.attribution,e)};if(f.ueLogError)return f.ueLogError(a||b,a?b:null),!0;console&&console.error&&(console.log(b),console.error(a));return!1},error:function(a,b,c,e){a=Error(q(":",e,a,c));a.attribution=q(":",this.attribution,b);throw a;},guardError:W(),guardFatal:W("FATAL"),guardCurrent:function(a){var b=t[t.length-1];return b?W(b.logLevel,b).call(this,a):a},guardTime:function(a){var b=
t[t.length-1],c=b&&b.name;return c&&c in B?function(){var b=w(),g=a.apply(this,arguments);B[c].async=(B[c].async||0)+w()-b;return g}:a},log:function(a,b,c){return this.logError(null,a,b,c)},declare:A([],!0,!0,!0),register:A([],!0),execute:A([]),AUI_BUILD_DATE:"3.21.6-2021-08-28",when:ia(),now:ia(!0),trigger:function(a,b,c){var e=M();this.declare(a,{data:b,pageElapsedTime:e-(f.aPageStart||NaN),triggerTime:e});c&&c.instrument&&O.when("prv:a-logTrigger").execute(function(b){b(a)})},handleTriggers:function(){this.log("handleTriggers deprecated")},
attributeErrors:function(a){return new I(a)},_namespace:function(a,b){return new I(a,b)}};var r=G(f,"AmazonUIPageJS",new I);var O=r._namespace("PageJS","AmazonUI");O.declare("prv:p-debug",B);r.declare("p-recorder-events",[]);r.declare("p-recorder-stop",function(){});G(f,"P",r);ja();if(h.addEventListener){var pa;h.addEventListener("DOMContentLoaded",pa=function(){r.trigger("a-domready");h.removeEventListener("DOMContentLoaded",pa,!1)},!1)}var n=h.documentElement,aa=function(){var a=["O","ms","Moz",
"Webkit"],b=h.createElement("div");return{testGradients:function(){return!0},test:function(c){var e=c.charAt(0).toUpperCase()+c.substr(1);c=(a.join(e+" ")+e+" "+c).split(" ");for(e=c.length;e--;)if(""===b.style[c[e]])return!0;return!1},testTransform3d:function(){return!0}}}();p=n.className;var qa=/(^| )a-mobile( |$)/.test(p),ra=/(^| )a-tablet( |$)/.test(p),k={audio:function(){return!!h.createElement("audio").canPlayType},video:function(){return!!h.createElement("video").canPlayType},canvas:function(){return!!h.createElement("canvas").getContext},
svg:function(){return!!h.createElementNS&&!!h.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect},offline:function(){return navigator.hasOwnProperty&&navigator.hasOwnProperty("onLine")&&navigator.onLine},dragDrop:function(){return"draggable"in h.createElement("span")},geolocation:function(){return!!navigator.geolocation},history:function(){return!(!f.history||!f.history.pushState)},webworker:function(){return!!f.Worker},autofocus:function(){return"autofocus"in h.createElement("input")},
inputPlaceholder:function(){return"placeholder"in h.createElement("input")},textareaPlaceholder:function(){return"placeholder"in h.createElement("textarea")},localStorage:function(){return"localStorage"in f&&null!==f.localStorage},orientation:function(){return"orientation"in f},touch:function(){return"ontouchend"in h},gradients:function(){return aa.testGradients()},hires:function(){var a=f.devicePixelRatio&&1.5<=f.devicePixelRatio||f.matchMedia&&f.matchMedia("(min-resolution:144dpi)").matches;v("hiRes"+
(qa?"Mobile":ra?"Tablet":"Desktop"),a?1:0);return a},transform3d:function(){return aa.testTransform3d()},touchScrolling:function(){return m(/Windowshop|android|OS ([5-9]|[1-9][0-9]+)(_[0-9]{1,2})+ like Mac OS X|SOFTWARE=([5-9]|[1-9][0-9]+)(.[0-9]{1,2})+.*DEVICE=iPhone|Chrome|Silk|Firefox|Trident.+?; Touch/i)},ios:function(){return m(/OS [1-9][0-9]*(_[0-9]*)+ like Mac OS X/i)&&!m(/trident|Edge/i)},android:function(){return m(/android.([1-9]|[L-Z])/i)&&!m(/trident|Edge/i)},mobile:function(){return qa},
tablet:function(){return ra},rtl:function(){return"rtl"===n.dir}};for(l in k)k.hasOwnProperty(l)&&(k[l]=ka(k[l]));for(var ba="textShadow textStroke boxShadow borderRadius borderImage opacity transform transition".split(" "),P=0;P<ba.length;P++)k[ba[P]]=ka(function(){return aa.test(ba[P])});var K=!0,la=0,Y={w:0,h:0},L=4;J();x(f,"resize",function(){clearTimeout(la);L=4;J()});var sa={getItem:function(a){try{return f.localStorage.getItem(a)}catch(b){}},setItem:function(a,b){try{return f.localStorage.setItem(a,
b)}catch(c){}}};n.className=X(n,"a-no-js");C(n,"a-js");!m(/OS [1-8](_[0-9]*)+ like Mac OS X/i)||f.navigator.standalone||m(/safari/i)||C(n,"a-ember");p=[];for(l in k)k.hasOwnProperty(l)&&k[l]&&p.push("a-"+l.replace(/([A-Z])/g,function(a){return"-"+a.toLowerCase()}));C(n,p.join(" "));n.setAttribute("data-aui-build-date","3.21.6-2021-08-28");r.register("p-detect",function(){return{capabilities:k,localStorage:k.localStorage&&sa,toggleResponsiveGrid:xa,responsiveGridEnabled:ya}});m(/UCBrowser/i)||k.localStorage&&
C(n,sa.getItem("a-font-class"));r.declare("a-event-revised-handling",!1);try{var y=navigator.serviceWorker}catch(a){F("sw:nav_err")}y&&(x(y,"message",function(a){a&&a.data&&v(a.data.k,a.data.v)}),y.controller&&y.controller.postMessage("MSG-RDY"));var D=[];(function(a){var b=a.reg,c=a.unreg;y&&y.getRegistrations?(O.when("A").execute(function(a){na(a,c,"unregister")}),x(f,"load",function(){O.when("A").execute(function(a){na(a,b,"register");ma()})})):(b&&b.browser&&D.push("sw:browser:register:unsupported"),
c&&c.browser&&D.push("sw:browser:unregister:unsupported"),ma())})({reg:{},unreg:{}});r.declare("a-fix-event-off",!1);v("pagejs:pkgExecTime",w()-N)})(window,document,Date);
  (window.AmazonUIPageJS ? AmazonUIPageJS : P).load.js('https://images-na.ssl-images-amazon.com/images/I/61XKxrBtDVL._RC|11Y+5x+kkTL.js,51y8xc02biL.js,21NNXfMitSL.js,11rRjDLdAVL.js,51X-X0x2aRL.js,11kWu3cNjYL.js,11g2BPXNlrL.js,11OREnu1epL.js,11KbZymw5ZL.js,21r53SJg7LL.js,0190vxtlzcL.js,518kQsYRr2L.js,31ask0y-LBL.js,015c-6CIP9L.js,01ezj5Rkz1L.js,11+RxVdhNcL.js,31o2NGTXThL.js,01rpauTep4L.js,01QpMWJ3CSL.js_.js?AUIClients/AmazonUI');
  (window.AmazonUIPageJS ? AmazonUIPageJS : P).load.js('https://images-na.ssl-images-amazon.com/images/I/51e5MYYGiWL.js?AUIClients/IMDbMojoSiteAssets');
  </script>
 </head>
 <body class="mojo-page-id-cso a-m-us a-aui_72554-c a-aui_accordion_a11y_role_354025-c a-aui_btn_preorder_ks_359947-c a-aui_button_aria_label_markup_348458-c a-aui_csa_templates_buildin_ww_exp_337518-c a-aui_csa_templates_buildin_ww_launch_337517-c a-aui_csa_templates_declarative_ww_exp_337521-c a-aui_csa_templates_declarative_ww_launch_337520-c a-aui_dynamic_img_a11y_markup_345061-c a-aui_launch_cardui_a11y_fix_346896-c a-aui_launch_expander_ally_fix_354901-c a-aui_markup_disabled_link_btn_351411-c a-aui_pci_risk_banner_210084-c a-aui_popover_trigger_add_role_350993-c a-aui_preload_261698-c a-aui_rel_noreferrer_noopener_309527-c a-aui_template_weblab_cache_333406-c a-aui_tnr_v2_180836-c" id="body">
  <div id="a-page">
   <script data-a-state='{"key":"a-wlab-states"}' type="a-state">
    {}
   </script>
   <!-- Use of this pixel is subject to the Amazon ad specs and policies at http://www.amazon.com/b/?&node=7253015011 -->
   <img alt="" border="0" height="1" src="https://s.amazon-adsystem.com/iui3?d=forester-did&amp;ex-fargs=%3Fid%3D5739f49d-12d9-2181-1dfd-446548cd0628%26type%3DUNKNOWN%26m%3D1&amp;ex-fch=416613&amp;ex-src=https://www.boxofficemojo.com/&amp;ex-hargs=v%3D1.0%3Bc%3D6983157497419%3Bp%3D5739F49D-12D9-2181-1DFD-446548CD0628" width="1"/>
   <div class="a-section a-spacing-none mojo-navigation mojo-header mojo-flex mojo-flex-h">
    <div class="a-section mojo-logo">
     <a class="a-link-normal" href="/?ref_=bo_nb_cso_mojologo">
     </a>
    </div>
    <div class="a-section a-spacing-none mojo-nav-elements mojo-flex mojo-flex-h mojo-flex-1">
     <div class="a-section a-spacing-none mojo-search-bar mojo-flex mojo-flex-h">
      <div class="a-section a-spacing-none mojo-search">
       <form action="/search/">
        <input id="mojo-search-text-input" name="q" placeholder="Search for Titles" required="true" type="search" value=""/>
        <input class="mojo-inline-button" id="mojo-search-button" type="submit" value=""/>
       </form>
      </div>
     </div>
     <div class="a-section a-spacing-none mojo-mobile-options">
      <span class="a-declarative" data-a-popover='{"closeButton":"false","inlineContent":"\u003cspan class=\"a-size-medium\"&gt;\u003ca href=\"https://pro.imdb.com/?ref_=mojo_nb_cso_pro&amp;amp;rf=mojo_nb_cso_pro\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;IMDbPro\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://www.facebook.com/BoxOfficeMojo/\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Facebook\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://twitter.com/boxofficemojo\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Twitter\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://help.imdb.com/article/imdbpro/industry-research/box-office-mojo-by-imdbpro-faq/GCWTV4MQKGWRAUAP?ref_=mojo_ftr_help\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Help\u003c\/div&gt;\u003c\/a&gt;\u003c\/span&gt;"}' data-action="a-popover">
       <a class="a-popover-trigger a-declarative" href="javascript:void(0)">
        <span class="mobile-menu-popover-trigger">
        </span>
        <i class="a-icon a-icon-popover">
        </i>
       </a>
      </span>
     </div>
     <div class="a-section a-spacing-none mojo-options mojo-flex">
      <div class="a-popover-preload" id="a-popover-mojoRollover">
       <a class="a-link-normal mojo-rollover-image" href="https://pro.imdb.com/login/ap?u=%2Flogin%2Flwa&amp;imdbPageAction=signUp&amp;ref_=mojo_nb_cso_rollover&amp;rf=mojo_nb_cso_rollover">
        <img alt="" src="https://m.media-amazon.com/images/G/01/IMDbPro/images/dropbox/MI_NB_011321_NYNY2021_mojo.png"/>
       </a>
      </div>
      <span class="a-declarative" data-a-popover='{"padding":"none","closeButton":"false","dataStrategy":"preload","name":"mojoRollover","width":"500","position":"triggerBottom","height":"200"}' data-action="a-popover">
       <a class="a-popover-trigger a-declarative" href="javascript:void(0)">
        <span class="imdb-pro-logo">
        </span>
        <i class="a-icon a-icon-popover">
        </i>
       </a>
      </span>
      <span class="mojo-logo-delimiter">
      </span>
      <a class="a-link-normal mojo-fb-logo" href="https://www.facebook.com/BoxOfficeMojo/" rel="noopener" target="_blank">
      </a>
      <a class="a-link-normal mojo-tw-logo" href="https://twitter.com/boxofficemojo" rel="noopener" target="_blank">
      </a>
     </div>
    </div>
    <div class="a-section a-spacing-none mojo-link-bar mojo-flex mojo-flex-h">
     <div class="a-section a-spacing-none mojo-tab-container">
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/date/?ref_=bo_nb_cso_tab">
       Domestic
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/intl/?ref_=bo_nb_cso_tab">
       International
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/year/world/?ref_=bo_nb_cso_tab">
       Worldwide
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/calendar/?ref_=bo_nb_cso_tab">
       Calendar
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab mojo-navigation-tab-active" href="/charts/overall/?ref_=bo_nb_cso_tab">
       All Time
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/showdown/?ref_=bo_nb_cso_tab">
       Showdowns
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/brand/?ref_=bo_nb_cso_tab">
       Indices
      </a>
     </div>
    </div>
    <div class="a-section a-spacing-none mojo-link-bar-secondary mojo-flex mojo-flex-h">
     <div class="a-section a-spacing-base mojo-tab-container">
      <a class="a-size-medium a-link-normal mojo-navigation-tab mojo-navigation-tab-active" href="/charts/overall/?ref_=bo_nb_cso_secondarytab">
       <h2 class="a-size-medium a-text-normal">
        Overall
       </h2>
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/charts/weekend/?ref_=bo_nb_cso_secondarytab">
       Weekend Records
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/charts/daily/?ref_=bo_nb_cso_secondarytab">
       Daily Records
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/charts/misc/?ref_=bo_nb_cso_secondarytab">
       Miscellaneous Records
      </a>
     </div>
    </div>
    <div class="a-section a-spacing-none mojo-link-bar-fade">
     <span class="a-letter-space">
     </span>
    </div>
   </div>
   <main>
    <div class="a-section mojo-body aok-relative">
     <div class="a-section a-spacing-none">
      <h1 class="mojo-gutter">
       Top Lifetime Grosses by MPAA Rating
      </h1>
      <div class="a-section mojo-gutter-sides">
      </div>
      <div class="mojo-refiner mojo-override-gutter">
       <label>
        <h2>
         By MPAA Rating
        </h2>
       </label>
       <div class="mojo-refinement mojo-refinement-dropdown">
        <span class="mojo-dropdown-clear">
         <form action="" autocomplete="off" class="a-spacing-none" method="post">
          <span class="a-dropdown-container">
           <select autocomplete="off" class="a-native-dropdown a-declarative" data-action="a-dropdown-select" id="charts-navSelector" name="charts-navSelector" tabindex="0">
            <option selected="" value="/chart/mpaa_title_lifetime_gross/?area=XWW&amp;by_mpaa=G">

In [31]:
headers=[]

In [32]:
for table in soup.find_all('div',class_='a-section imdb-scroll-table-inner'):
    for i in table.find_all('table',class_="a-bordered a-horizontal-stripes a-size-base a-span12 mojo-body-table mojo-table-annotated"):
        print(i.prettify())

<table class="a-bordered a-horizontal-stripes a-size-base a-span12 mojo-body-table mojo-table-annotated">
 <tr>
  <th class="a-text-left mojo-field-type-title a-nowrap">
   <span title="Title">
    Title
   </span>
  </th>
  <th class="a-text-right mojo-field-type-rank a-nowrap">
   <span title="Rank">
    Rank
   </span>
  </th>
  <th class="a-text-right mojo-field-type-money a-nowrap">
   <span title="Lifetime Gross">
    Lifetime Gross
   </span>
  </th>
  <th class="a-text-right mojo-field-type-rank a-nowrap">
   <span title="Overall Rank">
    Overall Rank
   </span>
  </th>
  <th class="a-text-left mojo-field-type-year a-nowrap">
   <span title="Year">
    Year
   </span>
  </th>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt1979376/?ref_=bo_cso_table_1">
    Toy Story 4
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   1
  </td>
  <td class="a-text-right mojo-field-type-money">
   $1,073,394,593
  </td>
  <td class="a-text-right mojo-field-type-rank">
   33
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2019/?ref_=bo_cso_table_1">
    2019
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0435761/?ref_=bo_cso_table_2">
    Toy Story 3
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   2
  </td>
  <td class="a-text-right mojo-field-type-money">
   $1,066,970,811
  </td>
  <td class="a-text-right mojo-field-type-rank">
   34
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2010/?ref_=bo_cso_table_2">
    2010
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0110357/?ref_=bo_cso_table_3">
    The Lion King
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   3
  </td>
  <td class="a-text-right mojo-field-type-money">
   $1,063,611,805
  </td>
  <td class="a-text-right mojo-field-type-rank">
   36
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1994/?ref_=bo_cso_table_3">
    1994
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0266543/?ref_=bo_cso_table_4">
    Finding Nemo
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   4
  </td>
  <td class="a-text-right mojo-field-type-money">
   $940,352,645
  </td>
  <td class="a-text-right mojo-field-type-rank">
   58
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2003/?ref_=bo_cso_table_4">
    2003
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt1453405/?ref_=bo_cso_table_5">
    Monsters University
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   5
  </td>
  <td class="a-text-right mojo-field-type-money">
   $743,559,645
  </td>
  <td class="a-text-right mojo-field-type-rank">
   112
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2013/?ref_=bo_cso_table_5">
    2013
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0382932/?ref_=bo_cso_table_6">
    Ratatouille
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   6
  </td>
  <td class="a-text-right mojo-field-type-money">
   $623,726,085
  </td>
  <td class="a-text-right mojo-field-type-rank">
   154
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2007/?ref_=bo_cso_table_6">
    2007
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0198781/?ref_=bo_cso_table_7">
    Monsters, Inc.
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   7
  </td>
  <td class="a-text-right mojo-field-type-money">
   $579,707,738
  </td>
  <td class="a-text-right mojo-field-type-rank">
   174
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2001/?ref_=bo_cso_table_7">
    2001
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt1216475/?ref_=bo_cso_table_8">
    Cars 2
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   8
  </td>
  <td class="a-text-right mojo-field-type-money">
   $559,852,396
  </td>
  <td class="a-text-right mojo-field-type-rank">
   181
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2011/?ref_=bo_cso_table_8">
    2011
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0910970/?ref_=bo_cso_table_9">
    WALL·E
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   9
  </td>
  <td class="a-text-right mojo-field-type-money">
   $521,311,890
  </td>
  <td class="a-text-right mojo-field-type-rank">
   209
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2008/?ref_=bo_cso_table_9">
    2008
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0103639/?ref_=bo_cso_table_10">
    Aladdin
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   10
  </td>
  <td class="a-text-right mojo-field-type-money">
   $504,050,219
  </td>
  <td class="a-text-right mojo-field-type-rank">
   215
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1992/?ref_=bo_cso_table_10">
    1992
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt2357291/?ref_=bo_cso_table_11">
    Rio 2
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   11
  </td>
  <td class="a-text-right mojo-field-type-money">
   $498,781,117
  </td>
  <td class="a-text-right mojo-field-type-rank">
   216
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2014/?ref_=bo_cso_table_11">
    2014
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0120363/?ref_=bo_cso_table_12">
    Toy Story 2
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   12
  </td>
  <td class="a-text-right mojo-field-type-money">
   $497,375,381
  </td>
  <td class="a-text-right mojo-field-type-rank">
   218
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1999/?ref_=bo_cso_table_12">
    1999
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0317219/?ref_=bo_cso_table_13">
    Cars
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   13
  </td>
  <td class="a-text-right mojo-field-type-money">
   $461,991,867
  </td>
  <td class="a-text-right mojo-field-type-rank">
   250
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2006/?ref_=bo_cso_table_13">
    2006
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0120855/?ref_=bo_cso_table_14">
    Tarzan
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   14
  </td>
  <td class="a-text-right mojo-field-type-money">
   $448,191,819
  </td>
  <td class="a-text-right mojo-field-type-rank">
   265
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1999/?ref_=bo_cso_table_14">
    1999
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0101414/?ref_=bo_cso_table_15">
    Beauty and the Beast
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   15
  </td>
  <td class="a-text-right mojo-field-type-money">
   $424,967,620
  </td>
  <td class="a-text-right mojo-field-type-rank">
   288
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1991/?ref_=bo_cso_table_15">
    1991
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0031381/?ref_=bo_cso_table_16">
    Gone with the Wind
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   16
  </td>
  <td class="a-text-right mojo-field-type-money">
   $402,352,579
  </td>
  <td class="a-text-right mojo-field-type-rank">
   312
  </td>
  <td class="a-text-left mojo-field-type-year">
   1939
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0114709/?ref_=bo_cso_table_17">
    Toy Story
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   17
  </td>
  <td class="a-text-right mojo-field-type-money">
   $394,436,586
  </td>
  <td class="a-text-right mojo-field-type-rank">
   318
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1995/?ref_=bo_cso_table_17">
    1995
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt3606752/?ref_=bo_cso_table_18">
    Cars 3
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   18
  </td>
  <td class="a-text-right mojo-field-type-money">
   $383,930,656
  </td>
  <td class="a-text-right mojo-field-type-rank">
   332
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2017/?ref_=bo_cso_table_18">
    2017
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0120623/?ref_=bo_cso_table_19">
    A Bug's Life
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   19
  </td>
  <td class="a-text-right mojo-field-type-money">
   $363,258,859
  </td>
  <td class="a-text-right mojo-field-type-rank">
   370
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1998/?ref_=bo_cso_table_19">
    1998
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0114148/?ref_=bo_cso_table_20">
    Pocahontas
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   20
  </td>
  <td class="a-text-right mojo-field-type-money">
   $346,079,773
  </td>
  <td class="a-text-right mojo-field-type-rank">
   414
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1995/?ref_=bo_cso_table_20">
    1995
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt1615918/?ref_=bo_cso_table_21">
    Alvin and the Chipmunks: Chipwrecked
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   21
  </td>
  <td class="a-text-right mojo-field-type-money">
   $342,695,435
  </td>
  <td class="a-text-right mojo-field-type-rank">
   417
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2011/?ref_=bo_cso_table_21">
    2011
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0116583/?ref_=bo_cso_table_22">
    The Hunchback of Notre Dame
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   22
  </td>
  <td class="a-text-right mojo-field-type-money">
   $325,338,851
  </td>
  <td class="a-text-right mojo-field-type-rank">
   448
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1996/?ref_=bo_cso_table_22">
    1996
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0115433/?ref_=bo_cso_table_23">
    101 Dalmatians
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   23
  </td>
  <td class="a-text-right mojo-field-type-money">
   $320,689,294
  </td>
  <td class="a-text-right mojo-field-type-rank">
   459
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1996/?ref_=bo_cso_table_23">
    1996
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0371606/?ref_=bo_cso_table_24">
    Chicken Little
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   24
  </td>
  <td class="a-text-right mojo-field-type-money">
   $314,432,837
  </td>
  <td class="a-text-right mojo-field-type-rank">
   469
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2005/?ref_=bo_cso_table_24">
    2005
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0338348/?ref_=bo_cso_table_25">
    The Polar Express
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   25
  </td>
  <td class="a-text-right mojo-field-type-money">
   $314,215,454
  </td>
  <td class="a-text-right mojo-field-type-rank">
   470
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2004/?ref_=bo_cso_table_25">
    2004
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0120762/?ref_=bo_cso_table_26">
    Mulan
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   26
  </td>
  <td class="a-text-right mojo-field-type-money">
   $304,320,254
  </td>
  <td class="a-text-right mojo-field-type-rank">
   493
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1998/?ref_=bo_cso_table_26">
    1998
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0451079/?ref_=bo_cso_table_27">
    Horton Hears a Who!
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   27
  </td>
  <td class="a-text-right mojo-field-type-money">
   $298,572,799
  </td>
  <td class="a-text-right mojo-field-type-rank">
   512
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2008/?ref_=bo_cso_table_27">
    2008
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0034492/?ref_=bo_cso_table_28">
    Bambi
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   28
  </td>
  <td class="a-text-right mojo-field-type-money">
   $267,447,150
  </td>
  <td class="a-text-right mojo-field-type-rank">
   576
  </td>
  <td class="a-text-left mojo-field-type-year">
   1942
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0780521/?ref_=bo_cso_table_29">
    The Princess and the Frog
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   29
  </td>
  <td class="a-text-right mojo-field-type-money">
   $267,045,765
  </td>
  <td class="a-text-right mojo-field-type-rank">
   577
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2009/?ref_=bo_cso_table_29">
    2009
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0112431/?ref_=bo_cso_table_30">
    Babe
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   30
  </td>
  <td class="a-text-right mojo-field-type-money">
   $254,134,910
  </td>
  <td class="a-text-right mojo-field-type-rank">
   615
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1995/?ref_=bo_cso_table_30">
    1995
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0962726/?ref_=bo_cso_table_31">
    High School Musical 3: Senior Year
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   31
  </td>
  <td class="a-text-right mojo-field-type-money">
   $252,909,177
  </td>
  <td class="a-text-right mojo-field-type-rank">
   618
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2008/?ref_=bo_cso_table_31">
    2008
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0119282/?ref_=bo_cso_table_32">
    Hercules
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   32
  </td>
  <td class="a-text-right mojo-field-type-money">
   $252,712,101
  </td>
  <td class="a-text-right mojo-field-type-rank">
   619
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/1997/?ref_=bo_cso_table_32">
    1997
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0328880/?ref_=bo_cso_table_33">
    Brother Bear
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   33
  </td>
  <td class="a-text-right mojo-field-type-money">
   $250,397,798
  </td>
  <td class="a-text-right mojo-field-type-rank">
   627
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2003/?ref_=bo_cso_table_33">
    2003
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt2452042/?ref_=bo_cso_table_34">
    The Peanuts Movie
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   34
  </td>
  <td class="a-text-right mojo-field-type-money">
   $246,233,113
  </td>
  <td class="a-text-right mojo-field-type-rank">
   636
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2015/?ref_=bo_cso_table_34">
    2015
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">
   <a class="a-link-normal" href="/title/tt0453451/?ref_=bo_cso_table_35">
    Mr. Bean's Holiday
   </a>
  </td>
  <td class="a-text-right mojo-field-type-rank">
   35
  </td>
  <td class="a-text-right mojo-field-type-money">
   $232,225,908
  </td>
  <td class="a-text-right mojo-field-type-rank">
   692
  </td>
  <td class="a-text-left mojo-field-type-year">
   <a class="a-link-normal" href="/year/world/2007/?ref_=bo_cso_table_35">
    2007
   </a>
  </td>
 </tr>
 <tr>
  <td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title">

In [35]:
for table in soup.find_all('div',class_='a-section imdb-scroll-table-inner'):
    for element in table.find_all('table',class_="a-bordered a-horizontal-stripes a-size-base a-span12 mojo-body-table mojo-table-annotated"):
        for data in element.find_all('th'):
            headers.append(data.find('span').text)

In [36]:
headers

['Title', 'Rank', 'Lifetime Gross', 'Overall Rank', 'Year']

In [44]:
rows= [row for row in table.find_all('tr')]

In [47]:
rows[1]

<tr><td class="a-text-left mojo-header-column mojo-truncate mojo-field-type-title"><a class="a-link-normal" href="/title/tt1979376/?ref_=bo_cso_table_1">Toy Story 4</a></td><td class="a-text-right mojo-field-type-rank">1</td><td class="a-text-right mojo-field-type-money">$1,073,394,593</td><td class="a-text-right mojo-field-type-rank">33</td><td class="a-text-left mojo-field-type-year"><a class="a-link-normal" href="/year/world/2019/?ref_=bo_cso_table_1">2019</a></td></tr>

In [50]:
rows[1].find_all('td')[0].find('a')

In [70]:
movies = {}


for row in rows [1:1000]:
        items= row.find_all('td')
        link= items[0].find('a')
        title, url= link.text, link['href']
        movies[title] = [url] + [i.text for i in items]
        
movies

{'Toy Story 4': ['/title/tt1979376/?ref_=bo_cso_table_1',
  'Toy Story 4',
  '1',
  '$1,073,394,593',
  '33',
  '2019'],
 'Toy Story 3': ['/title/tt0435761/?ref_=bo_cso_table_2',
  'Toy Story 3',
  '2',
  '$1,066,970,811',
  '34',
  '2010'],
 'The Lion King': ['/title/tt0110357/?ref_=bo_cso_table_3',
  'The Lion King',
  '3',
  '$1,063,611,805',
  '36',
  '1994'],
 'Finding Nemo': ['/title/tt0266543/?ref_=bo_cso_table_4',
  'Finding Nemo',
  '4',
  '$940,352,645',
  '58',
  '2003'],
 'Monsters University': ['/title/tt1453405/?ref_=bo_cso_table_5',
  'Monsters University',
  '5',
  '$743,559,645',
  '112',
  '2013'],
 'Ratatouille': ['/title/tt0382932/?ref_=bo_cso_table_6',
  'Ratatouille',
  '6',
  '$623,726,085',
  '154',
  '2007'],
 'Monsters, Inc.': ['/title/tt0198781/?ref_=bo_cso_table_7',
  'Monsters, Inc.',
  '7',
  '$579,707,738',
  '174',
  '2001'],
 'Cars 2': ['/title/tt1216475/?ref_=bo_cso_table_8',
  'Cars 2',
  '8',
  '$559,852,396',
  '181',
  '2011'],
 'WALL·E': ['/title/tt0910970/?ref_=bo_cso_table_9',
  'WALL·E',
  '9',
  '$521,311,890',
  '209',
  '2008'],
 'Aladdin': ['/title/tt0103639/?ref_=bo_cso_table_10',
  'Aladdin',
  '10',
  '$504,050,219',
  '215',
  '1992'],
 'Rio 2': ['/title/tt2357291/?ref_=bo_cso_table_11',
  'Rio 2',
  '11',
  '$498,781,117',
  '216',
  '2014'],
 'Toy Story 2': ['/title/tt0120363/?ref_=bo_cso_table_12',
  'Toy Story 2',
  '12',
  '$497,375,381',
  '218',
  '1999'],
 'Cars': ['/title/tt0317219/?ref_=bo_cso_table_13',
  'Cars',
  '13',
  '$461,991,867',
  '250',
  '2006'],
 'Tarzan': ['/title/tt0120855/?ref_=bo_cso_table_14',
  'Tarzan',
  '14',
  '$448,191,819',
  '265',
  '1999'],
 'Beauty and the Beast': ['/title/tt0101414/?ref_=bo_cso_table_15',
  'Beauty and the Beast',
  '15',
  '$424,967,620',
  '288',
  '1991'],
 'Gone with the Wind': ['/title/tt0031381/?ref_=bo_cso_table_16',
  'Gone with the Wind',
  '16',
  '$402,352,579',
  '312',
  '1939'],
 'Toy Story': ['/title/tt0114709/?ref_=bo_cso_table_17',
  'Toy Story',
  '17',
  '$394,436,586',
  '318',
  '1995'],
 'Cars 3': ['/title/tt3606752/?ref_=bo_cso_table_18',
  'Cars 3',
  '18',
  '$383,930,656',
  '332',
  '2017'],
 "A Bug's Life": ['/title/tt0120623/?ref_=bo_cso_table_19',
  "A Bug's Life",
  '19',
  '$363,258,859',
  '370',
  '1998'],
 'Pocahontas': ['/title/tt0114148/?ref_=bo_cso_table_20',
  'Pocahontas',
  '20',
  '$346,079,773',
  '414',
  '1995'],
 'Alvin and the Chipmunks: Chipwrecked': ['/title/tt1615918/?ref_=bo_cso_table_21',
  'Alvin and the Chipmunks: Chipwrecked',
  '21',
  '$342,695,435',
  '417',
  '2011'],
 'The Hunchback of Notre Dame': ['/title/tt0116583/?ref_=bo_cso_table_22',
  'The Hunchback of Notre Dame',
  '22',
  '$325,338,851',
  '448',
  '1996'],
 '101 Dalmatians': ['/title/tt0115433/?ref_=bo_cso_table_23',
  '101 Dalmatians',
  '23',
  '$320,689,294',
  '459',
  '1996'],
 'Chicken Little': ['/title/tt0371606/?ref_=bo_cso_table_24',
  'Chicken Little',
  '24',
  '$314,432,837',
  '469',
  '2005'],
 'The Polar Express': ['/title/tt0338348/?ref_=bo_cso_table_25',
  'The Polar Express',
  '25',
  '$314,215,454',
  '470',
  '2004'],
 'Mulan': ['/title/tt0120762/?ref_=bo_cso_table_26',
  'Mulan',
  '26',
  '$304,320,254',
  '493',
  '1998'],
 'Horton Hears a Who!': ['/title/tt0451079/?ref_=bo_cso_table_27',
  'Horton Hears a Who!',
  '27',
  '$298,572,799',
  '512',
  '2008'],
 'Bambi': ['/title/tt0034492/?ref_=bo_cso_table_28',
  'Bambi',
  '28',
  '$267,447,150',
  '576',
  '1942'],
 'The Princess and the Frog': ['/title/tt0780521/?ref_=bo_cso_table_29',
  'The Princess and the Frog',
  '29',
  '$267,045,765',
  '577',
  '2009'],
 'Babe': ['/title/tt0112431/?ref_=bo_cso_table_30',
  'Babe',
  '30',
  '$254,134,910',
  '615',
  '1995'],
 'High School Musical 3: Senior Year': ['/title/tt0962726/?ref_=bo_cso_table_31',
  'High School Musical 3: Senior Year',
  '31',
  '$252,909,177',
  '618',
  '2008'],
 'Hercules': ['/title/tt0119282/?ref_=bo_cso_table_32',
  'Hercules',
  '32',
  '$252,712,101',
  '619',
  '1997'],
 'Brother Bear': ['/title/tt0328880/?ref_=bo_cso_table_33',
  'Brother Bear',
  '33',
  '$250,397,798',
  '627',
  '2003'],
 'The Peanuts Movie': ['/title/tt2452042/?ref_=bo_cso_table_34',
  'The Peanuts Movie',
  '34',
  '$246,233,113',
  '636',
  '2015'],
 "Mr. Bean's Holiday": ['/title/tt0453451/?ref_=bo_cso_table_35',
  "Mr. Bean's Holiday",
  '35',
  '$232,225,908',
  '692',
  '2007'],
 'Chicken Run': ['/title/tt0120630/?ref_=bo_cso_table_36',
  'Chicken Run',
  '36',
  '$224,834,564',
  '721',
  '2000'],
 'One Hundred and One Dalmatians': ['/title/tt0055254/?ref_=bo_cso_table_37',
  'One Hundred and One Dalmatians',
  '37',
  '$215,880,014',
  '758',
  '1961'],
 'The Little Mermaid': ['/title/tt0097757/?ref_=bo_cso_table_38',
  'The Little Mermaid',
  '38',
  '$211,343,479',
  '790',
  '1989'],
 'The Jungle Book': ['/title/tt0061852/?ref_=bo_cso_table_39',
  'The Jungle Book',
  '39',
  '$205,843,612',
  '807',
  '1967'],
 'Ponyo': ['/title/tt0876563/?ref_=bo_cso_table_40',
  'Ponyo',
  '40',
  '$204,826,668',
  '814',
  '2008'],
 'Wallace & Gromit: The Curse of the Were-Rabbit': ['/title/tt0312004/?ref_=bo_cso_table_41',
  'Wallace & Gromit: The Curse of the Were-Rabbit',
  '41',
  '$194,137,091',
  '867',
  '2005'],
 'Gnomeo & Juliet': ['/title/tt0377981/?ref_=bo_cso_table_42',
  'Gnomeo & Juliet',
  '42',
  '$193,967,670',
  '868',
  '2011'],
 'The Jungle Book 2': ['/title/tt0283426/?ref_=bo_cso_table_43',
  'The Jungle Book 2',
  '43',
  '$186,303,759',
  '900',
  '2003'],
 'Snow White and the Seven Dwarfs': ['/title/tt0029583/?ref_=bo_cso_table_44',
  'Snow White and the Seven Dwarfs',
  '44',
  '$184,925,486',
  '910',
  '1937'],
 '102 Dalmatians': ['/title/tt0211181/?ref_=bo_cso_table_45',
  '102 Dalmatians',
  '45',
  '$183,611,771',
  '915',
  '2000'],
 'The Santa Clause 2': ['/title/tt0304669/?ref_=bo_cso_table_46',
  'The Santa Clause 2',
  '46',
  '$172,855,065',
  '999',
  '2002'],
 "The Emperor's New Groove": ['/title/tt0120917/?ref_=bo_cso_table_47',
  "The Emperor's New Groove",
  '47',
  '$169,661,687',
  '1,025',
  '2000'],
 'Meet the Robinsons': ['/title/tt0396555/?ref_=bo_cso_table_48',
  'Meet the Robinsons',
  '48',
  '$169,333,034',
  '1,026',
  '2007'],
 'The Princess Diaries': ['/title/tt0247638/?ref_=bo_cso_table_49',
  'The Princess Diaries',
  '49',
  '$165,335,153',
  '1,041',
  '2001'],
 'Pokémon: The First Movie - Mewtwo Strikes Back': ['/title/tt0190641/?ref_=bo_cso_table_50',
  'Pokémon: The First Movie - Mewtwo Strikes Back',
  '50',
  '$163,644,662',
  '1,058',
  '1999'],
 'The Sound of Music': ['/title/tt0059742/?ref_=bo_cso_table_51',
  'The Sound of Music',
  '51',
  '$159,428,329',
  '1,093',
  '1965'],
 'Hannah Montana: The Movie': ['/title/tt1114677/?ref_=bo_cso_table_52',
  'Hannah Montana: The Movie',
  '52',
  '$155,545,279',
  '1,123',
  '2009'],
 'The Secret World of Arrietty': ['/title/tt1568921/?ref_=bo_cso_table_53',
  'The Secret World of Arrietty',
  '53',
  '$149,411,550',
  '1,171',
  '2010'],
 "Charlotte's Web": ['/title/tt0413895/?ref_=bo_cso_table_54',
  "Charlotte's Web",
  '54',
  '$148,963,822',
  '1,176',
  '2006'],
 'Herbie Fully Loaded': ['/title/tt0400497/?ref_=bo_cso_table_55',
  'Herbie Fully Loaded',
  '55',
  '$144,146,816',
  '1,205',
  '2005'],
 'The Rugrats Movie': ['/title/tt0134067/?ref_=bo_cso_table_56',
  'The Rugrats Movie',
  '56',
  '$140,894,675',
  '1,231',
  '1998'],
 'Anastasia': ['/title/tt0118617/?ref_=bo_cso_table_57',
  'Anastasia',
  '57',
  '$139,804,348',
  '1,240',
  '1997'],
 'The Princess Diaries 2: Royal Engagement': ['/title/tt0368933/?ref_=bo_cso_table_58',
  'The Princess Diaries 2: Royal Engagement',
  '58',
  '$134,734,481',
  '1,278',
  '2004'],
 'Pokémon the Movie 2000': ['/title/tt0210234/?ref_=bo_cso_table_59',
  'Pokémon the Movie 2000',
  '59',
  '$133,949,270',
  '1,285',
  '2000'],
 'March of the Penguins': ['/title/tt0428803/?ref_=bo_cso_table_60',
  'March of the Penguins',
  '60',
  '$127,392,693',
  '1,350',
  '2005'],
 'Spirit: Stallion of the Cimarron': ['/title/tt0166813/?ref_=bo_cso_table_61',
  'Spirit: Stallion of the Cimarron',
  '61',
  '$122,563,539',
  '1,392',
  '2002'],
 'Pinocchio': ['/title/tt0255477/?ref_=bo_cso_table_121',
  'Pinocchio',
  '121',
  '$44,310,395',
  '3,141',
  '2002'],
 'Peter Pan 2: Return to Never Land': ['/title/tt0280030/?ref_=bo_cso_table_63',
  'Peter Pan 2: Return to Never Land',
  '63',
  '$115,121,981',
  '1,487',
  '2002'],
 'The Santa Clause 3: The Escape Clause': ['/title/tt0452681/?ref_=bo_cso_table_64',
  'The Santa Clause 3: The Escape Clause',
  '64',
  '$110,768,122',
  '1,537',
  '2006'],
 'Earth': ['/title/tt0393597/?ref_=bo_cso_table_65',
  'Earth',
  '65',
  '$108,976,456',
  '1,556',
  '2007'],
 'Rugrats in Paris': ['/title/tt0213203/?ref_=bo_cso_table_66',
  'Rugrats in Paris',
  '66',
  '$103,291,131',
  '1,630',
  '2000'],
 'Mary Poppins': ['/title/tt0058331/?ref_=bo_cso_table_67',
  'Mary Poppins',
  '67',
  '$103,082,380',
  '1,636',
  '1964'],
 'Jimmy Neutron: Boy Genius': ['/title/tt0268397/?ref_=bo_cso_table_68',
  'Jimmy Neutron: Boy Genius',
  '68',
  '$102,992,536',
  '1,638',
  '2001'],
 'The Wild': ['/title/tt0405469/?ref_=bo_cso_table_69',
  'The Wild',
  '69',
  '$102,338,515',
  '1,651',
  '2006'],
 'Airport': ['/title/tt0065377/?ref_=bo_cso_table_70',
  'Airport',
  '70',
  '$100,489,151',
  '1,680',
  '1970'],
 'Justin Bieber: Never Say Never': ['/title/tt1702443/?ref_=bo_cso_table_71',
  'Justin Bieber: Never Say Never',
  '71',
  '$99,036,827',
  '1,705',
  '2011'],
 'Deep Sea': ['/title/tt0424942/?ref_=bo_cso_table_72',
  'Deep Sea',
  '72',
  '$98,230,905',
  '1,719',
  '2006'],
 'Cinderella': ['/title/tt0042332/?ref_=bo_cso_table_73',
  'Cinderella',
  '73',
  '$96,383,330',
  '1,752',
  '1950'],
 'The Tigger Movie': ['/title/tt0220099/?ref_=bo_cso_table_74',
  'The Tigger Movie',
  '74',
  '$96,159,800',
  '1,756',
  '2000'],
 'Lady and the Tramp': ['/title/tt0048280/?ref_=bo_cso_table_75',
  'Lady and the Tramp',
  '75',
  '$93,933,394',
  '1,795',
  '1955'],
 'PAW Patrol: The Movie': ['/title/tt11832046/?ref_=bo_cso_table_76',
  'PAW Patrol: The Movie',
  '76',
  '$92,921,036',
  '1,814',
  '2021'],
 'Fantasia 2000': ['/title/tt0120910/?ref_=bo_cso_table_77',
  'Fantasia 2000',
  '77',
  '$90,874,570',
  '1,849',
  '2000'],
 'Peter Pan': ['/title/tt0046183/?ref_=bo_cso_table_78',
  'Peter Pan',
  '78',
  '$87,404,651',
  '1,900',
  '1953'],
 'The Tale of Despereaux': ['/title/tt0420238/?ref_=bo_cso_table_79',
  'The Tale of Despereaux',
  '79',
  '$86,957,280',
  '1,912',
  '2008'],
 'An American Tail': ['/title/tt0090633/?ref_=bo_cso_table_80',
  'An American Tail',
  '80',
  '$84,542,002',
  '1,962',
  '1986'],
 'The Land Before Time': ['/title/tt0095489/?ref_=bo_cso_table_81',
  'The Land Before Time',
  '81',
  '$84,460,846',
  '1,963',
  '1988'],
 'Oceans': ['/title/tt0765128/?ref_=bo_cso_table_82',
  'Oceans',
  '82',
  '$83,090,556',
  '1,983',
  '2010'],
 'Star Trek: The Motion Picture': ['/title/tt0079945/?ref_=bo_cso_table_83',
  'Star Trek: The Motion Picture',
  '83',
  '$82,604,699',
  '1,991',
  '1979'],
 'The Rookie': ['/title/tt0265662/?ref_=bo_cso_table_84',
  'The Rookie',
  '84',
  '$80,693,537',
  '2,030',
  '2002'],
 'Fantastica: A Boonie Bears Adventure': ['/title/tt6857250/?ref_=bo_cso_table_85',
  'Fantastica: A Boonie Bears Adventure',
  '85',
  '$77,151,096',
  '2,107',
  '2017'],
 'Fantasia': ['/title/tt0032455/?ref_=bo_cso_table_86',
  'Fantasia',
  '86',
  '$76,411,819',
  '2,125',
  '1941'],
 'Hubble 3D': ['/title/tt1433813/?ref_=bo_cso_table_87',
  'Hubble 3D',
  '87',
  '$74,996,938',
  '2,160',
  '2010'],
 'Ben-Hur': ['/title/tt0052618/?ref_=bo_cso_table_88',
  'Ben-Hur',
  '88',
  '$74,427,638',
  '2,172',
  '1959'],
 'Oliver & Company': ['/title/tt0095776/?ref_=bo_cso_table_89',
  'Oliver & Company',
  '89',
  '$74,151,346',
  '2,178',
  '1988'],
 'My Fair Lady': ['/title/tt0058385/?ref_=bo_cso_table_90',
  'My Fair Lady',
  '90',
  '$72,632,653',
  '2,206',
  '1964'],
 'The Rescuers': ['/title/tt0076618/?ref_=bo_cso_table_91',
  'The Rescuers',
  '91',
  '$71,215,869',
  '2,236',
  '1977'],
 'Hannah Montana and Miley Cyrus: Best of Both Worlds Concert': ['/title/tt1127884/?ref_=bo_cso_table_92',
  'Hannah Montana and Miley Cyrus: Best of Both Worlds Concert',
  '92',
  '$70,642,966',
  '2,250',
  '2008'],
 'Curious George': ['/title/tt0381971/?ref_=bo_cso_table_93',
  'Curious George',
  '93',
  '$69,865,924',
  '2,268',
  '2006'],
 "Mr. Magorium's Wonder Emporium": ['/title/tt0457419/?ref_=bo_cso_table_94',
  "Mr. Magorium's Wonder Emporium",
  '94',
  '$69,474,661',
  '2,277',
  '2007'],
 'Pokémon 3 the Movie: Spell of the Unown': ['/title/tt0235679/?ref_=bo_cso_table_95',
  'Pokémon 3 the Movie: Spell of the Unown',
  '95',
  '$68,411,275',
  '2,304',
  '2001'],
 "What's Up, Doc?": ['/title/tt0069495/?ref_=bo_cso_table_96',
  "What's Up, Doc?",
  '96',
  '$66,000,000',
  '2,361',
  '1972'],
 'The Muppet Movie': ['/title/tt0079588/?ref_=bo_cso_table_97',
  'The Muppet Movie',
  '97',
  '$65,810,475',
  '2,367',
  '1979'],
 '2001: A Space Odyssey': ['/title/tt0062622/?ref_=bo_cso_table_98',
  '2001: A Space Odyssey',
  '98',
  '$65,802,496',
  '2,368',
  '1968'],
 'The Ten Commandments': ['/title/tt0049833/?ref_=bo_cso_table_99',
  'The Ten Commandments',
  '99',
  '$65,500,000',
  '2,379',
  '1956'],
 'Space Chimps': ['/title/tt0482603/?ref_=bo_cso_table_100',
  'Space Chimps',
  '100',
  '$65,097,693',
  '2,388',
  '2008'],
 'The Pirate Fairy': ['/title/tt2483260/?ref_=bo_cso_table_101',
  'The Pirate Fairy',
  '101',
  '$63,998,725',
  '2,422',
  '2014'],
 'The Fox and the Hound': ['/title/tt0082406/?ref_=bo_cso_table_102',
  'The Fox and the Hound',
  '102',
  '$63,456,988',
  '2,439',
  '1981'],
 "Piglet's Big Movie": ['/title/tt0323642/?ref_=bo_cso_table_103',
  "Piglet's Big Movie",
  '103',
  '$62,870,546',
  '2,451',
  '2003'],
 'Valiant': ['/title/tt0361089/?ref_=bo_cso_table_104',
  'Valiant',
  '104',
  '$61,746,888',
  '2,484',
  '2005'],
 'Cleopatra': ['/title/tt0056937/?ref_=bo_cso_table_105',
  'Cleopatra',
  '105',
  '$57,777,778',
  '2,600',
  '1963'],
 'Under the Sea 3D': ['/title/tt1020876/?ref_=bo_cso_table_106',
  'Under the Sea 3D',
  '106',
  '$55,902,624',
  '2,659',
  '2009'],
 'The Cat Returns': ['/title/tt0347618/?ref_=bo_cso_table_107',
  'The Cat Returns',
  '107',
  '$54,505,662',
  '2,710',
  '2002'],
 'Supercondriaque': ['/title/tt3421514/?ref_=bo_cso_table_108',
  'Supercondriaque',
  '108',
  '$53,425,036',
  '2,737',
  '2014'],
 "Pooh's Heffalump Movie": ['/title/tt0407121/?ref_=bo_cso_table_109',
  "Pooh's Heffalump Movie",
  '109',
  '$52,858,433',
  '2,756',
  '2005'],
 'Funny Girl': ['/title/tt0062994/?ref_=bo_cso_table_110',
  'Funny Girl',
  '110',
  '$52,224,636',
  '2,774',
  '1968'],
 'Sleeping Beauty': ['/title/tt0053285/?ref_=bo_cso_table_111',
  'Sleeping Beauty',
  '111',
  '$51,600,000',
  '2,801',
  '1959'],
 'College Road Trip': ['/title/tt0997047/?ref_=bo_cso_table_112',
  'College Road Trip',
  '112',
  '$51,549,674',
  '2,802',
  '2008'],
 'The Love Bug': ['/title/tt0064603/?ref_=bo_cso_table_113',
  'The Love Bug',
  '113',
  '$51,264,022',
  '2,812',
  '1969'],
 'Family is Family': ['/title/tt6859418/?ref_=bo_cso_table_114',
  'Family is Family',
  '114',
  '$49,954,866',
  '2,874',
  '2018'],
 'Winnie the Pooh': ['/title/tt1449283/?ref_=bo_cso_table_115',
  'Winnie the Pooh',
  '115',
  '$49,871,429',
  '2,877',
  '2011'],
 "Hachi: A Dog's Tale": ['/title/tt1028532/?ref_=bo_cso_table_116',
  "Hachi: A Dog's Tale",
  '116',
  '$46,749,646',
  '3,032',
  '2009'],
 'Fly Me to the Moon 3D': ['/title/tt0486321/?ref_=bo_cso_table_117',
  'Fly Me to the Moon 3D',
  '117',
  '$46,651,414',
  '3,040',
  '2008'],
 "It's a Mad Mad Mad Mad World": ['/title/tt0057193/?ref_=bo_cso_table_118',
  "It's a Mad Mad Mad Mad World",
  '118',
  '$46,332,858',
  '3,053',
  '1963'],
 'The Odd Couple': ['/title/tt0063374/?ref_=bo_cso_table_119',
  'The Odd Couple',
  '119',
  '$44,527,234',
  '3,129',
  '1968'],
 "Recess: School's Out": ['/title/tt0265632/?ref_=bo_cso_table_120',
  "Recess: School's Out",
  '120',
  '$44,460,850',
  '3,132',
  '2001'],
 'A Shaun the Sheep Movie: Farmageddon': ['/title/tt6193408/?ref_=bo_cso_table_122',
  'A Shaun the Sheep Movie: Farmageddon',
  '122',
  '$43,100,248',
  '3,199',
  '2019'],
 'Around the World in 80 Days': ['/title/tt0048960/?ref_=bo_cso_table_123',
  'Around the World in 80 Days',
  '123',
  '$42,000,000',
  '3,260',
  '1956'],
 'The Return of the Pink Panther': ['/title/tt0072081/?ref_=bo_cso_table_124',
  'The Return of the Pink Panther',
  '124',
  '$41,833,347',
  '3,267',
  '1975'],
 'Homeward Bound: The Incredible Journey': ['/title/tt0107131/?ref_=bo_cso_table_125',
  'Homeward Bound: The Incredible Journey',
  '125',
  '$41,833,324',
  '3,268',
  '1993'],
 'Born to Be Wild': ['/title/tt1680059/?ref_=bo_cso_table_126',
  'Born to Be Wild',
  '126',
  '$41,644,475',
  '3,279',
  '2011'],
 'An American Tail: Fievel Goes West': ['/title/tt0101329/?ref_=bo_cso_table_127',
  'An American Tail: Fievel Goes West',
  '127',
  '$40,766,041',
  '3,333',
  '1991'],
 'Swiss Family Robinson': ['/title/tt0054357/?ref_=bo_cso_table_128',
  'Swiss Family Robinson',
  '128',
  '$40,356,000',
  '3,360',
  '1960'],
 "Pete's Dragon": ['/title/tt0076538/?ref_=bo_cso_table_129',
  "Pete's Dragon",
  '129',
  '$39,588,000',
  '3,405',
  '1977'],
 'Benji': ['/title/tt0071206/?ref_=bo_cso_table_130',
  'Benji',
  '130',
  '$39,552,000',
  '3,408',
  '1974'],
 'The Great Mouse Detective': ['/title/tt0091149/?ref_=bo_cso_table_131',
  'The Great Mouse Detective',
  '131',
  '$38,625,550',
  '3,474',
  '1986'],
 'Herbie Rides Again': ['/title/tt0071607/?ref_=bo_cso_table_132',
  'Herbie Rides Again',
  '132',
  '$38,229,000',
  '3,501',
  '1974'],
 'The Black Stallion': ['/title/tt0078872/?ref_=bo_cso_table_133',
  'The Black Stallion',
  '133',
  '$37,799,643',
  '3,536',
  '1979'],
 'Song of the South': ['/title/tt0038969/?ref_=bo_cso_table_134',
  'Song of the South',
  '134',
  '$37,459,346',
  '3,555',
  '1980'],
 'The Apple Dumpling Gang': ['/title/tt0072653/?ref_=bo_cso_table_135',
  'The Apple Dumpling Gang',
  '135',
  '$36,853,000',
  '3,583',
  '1975'],
 'The Aristocats': ['/title/tt0065421/?ref_=bo_cso_table_136',
  'The Aristocats',
  '136',
  '$35,459,543',
  '3,667',
  '1980'],
 'A Goofy Movie': ['/title/tt0113198/?ref_=bo_cso_table_137',
  'A Goofy Movie',
  '137',
  '$35,348,597',
  '3,675',
  '1995'],
 'Bambi and the Great Prince of the Forest': ['/title/tt0447854/?ref_=bo_cso_table_138',
  'Bambi and the Great Prince of the Forest',
  '138',
  '$34,958,637',
  '3,700',
  '2006'],
 'Chimpanzee': ['/title/tt1222815/?ref_=bo_cso_table_139',
  'Chimpanzee',
  '139',
  '$34,823,764',
  '3,715',
  '2012'],
 'Adventures in Zambezia': ['/title/tt1488181/?ref_=bo_cso_table_140',
  'Adventures in Zambezia',
  '140',
  '$34,428,345',
  '3,750',
  '2012'],
 'Muppet Treasure Island': ['/title/tt0117110/?ref_=bo_cso_table_141',
  'Muppet Treasure Island',
  '141',
  '$34,327,391',
  '3,758',
  '1996'],
 'Winged Migration': ['/title/tt0301727/?ref_=bo_cso_table_142',
  'Winged Migration',
  '142',
  '$34,128,314',
  '3,774',
  '2001'],
 'Giant': ['/title/tt0049261/?ref_=bo_cso_table_143',
  'Giant',
  '143',
  '$32,855,818',
  '3,855',
  '1956'],
 'Homeward Bound II: Lost in San Francisco': ['/title/tt0116552/?ref_=bo_cso_table_144',
  'Homeward Bound II: Lost in San Francisco',
  '144',
  '$32,772,492',
  '3,863',
  '1996'],
 'FernGully: The Last Rainforest': ['/title/tt0104254/?ref_=bo_cso_table_145',
  'FernGully: The Last Rainforest',
  '145',
  '$32,710,894',
  '3,869',
  '1992'],
 'Planet of the Apes': ['/title/tt0063442/?ref_=bo_cso_table_146',
  'Planet of the Apes',
  '146',
  '$32,599,488',
  '3,876',
  '1968'],